workflow.json
{
    "name": "Google Docs SEO & Grammar Agent",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "event": "fileCreated",
                "filters": {
                    "mimeType": [
                        "application/vnd.google-apps.document"
                    ],
                    "parentId": {
                        "__rl": true,
                        "mode": "list",
                        "value": ""
                    }
                }
            },
            "id": "drive-trigger",
            "name": "Google Drive Trigger",
            "type": "n8n-nodes-base.googleDriveTrigger",
            "typeVersion": 1,
            "position": [
                260,
                240
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "documentId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                },
                "returnFormat": "text"
            },
            "id": "get-doc",
            "name": "Get Doc Content",
            "type": "n8n-nodes-base.googleDocs",
            "typeVersion": 2,
            "position": [
                480,
                240
            ],
            "credentials": {
                "googleDocsOAuth2Api": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cerebras.ai/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "gpt-oss-120b"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [\n  {\"role\": \"system\", \"content\": \"You are an SEO and Grammar expert editing a blog post. Analyze the text. Return ONLY a valid JSON object (no markdown formatting, no code blocks) with the following structure:\\n{\\n  \\\"score\\\": number (0-100),\\n  \\\"issues\\\": [\\\"issue 1\\\", \\\"issue 2\\\"],\\n  \\\"suggestions\\\": [\\\"suggestion 1\\\", \\\"suggestion 2\\\"]\\n}\"}, \n  {\"role\": \"user\", \"content\": $json.content}\n] }}"
                        },
                        {
                            "name": "temperature",
                            "value": 0.2
                        }
                    ]
                },
                "options": {}
            },
            "id": "cerebras-ai",
            "name": "Cerebras AI Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                240
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const aiContent = $json.choices[0].message.content;\nlet analysis = {};\n\ntry {\n  const cleanJson = aiContent.replace(/```json/g, '').replace(/```/g, '').trim();\n  analysis = JSON.parse(cleanJson);\n} catch (e) {\n  analysis = { score: 0, issues: [\"JSON Parse Error\"], suggestions: [\"Check AI Output\"] };\n}\n\n// Pass original file info along specifically\nconst fileInfo = $input.item.json;\nconst driveInfo = $node[\"Google Drive Trigger\"].json;\n\nreturn {\n  json: {\n    fileId: driveInfo.id,\n    fileName: driveInfo.name,\n    analysis\n  }\n};"
            },
            "id": "parse-response",
            "name": "Parse Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                920,
                240
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.analysis.score }}",
                            "operation": "largerEqual",
                            "value2": 80
                        }
                    ]
                }
            },
            "id": "check-score",
            "name": "Check Score",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1140,
                240
            ]
        },
        {
            "parameters": {
                "operation": "move",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.fileId }}",
                    "mode": "id"
                },
                "parentId": {
                    "__rl": true,
                    "value": "",
                    "mode": "list",
                    "cachedResultName": "Ready"
                }
            },
            "id": "move-file",
            "name": "Move to Ready",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1360,
                120
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "={{ $json.fileId }}",
                    "mode": "id"
                },
                "content": "={{ '\\n\\n--- 🤖 AI Revision Suggestions (Score: ' + $json.analysis.score + ') ---\\n' + $json.analysis.suggestions.join('\\n') }}",
                "options": {}
            },
            "id": "append-suggestions",
            "name": "Append to Doc",
            "type": "n8n-nodes-base.googleDocs",
            "typeVersion": 2,
            "position": [
                1360,
                380
            ],
            "credentials": {
                "googleDocsOAuth2Api": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "chatId": "YOUR_CHAT_ID",
                "text": "={{ '🎉 文章合格！\\n檔案：' + $json.fileName + '\\nSEO 分數：' + $json.analysis.score + '\\n\\n已移動至 Ready 資料夾。' }}",
                "additionalFields": {}
            },
            "id": "telegram-success",
            "name": "Telegram (Success)",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                1580,
                120
            ],
            "credentials": {
                "telegramApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "chatId": "YOUR_CHAT_ID",
                "text": "={{ '⚠️ 文章需修改\\n檔案：' + $json.fileName + '\\nSEO 分數：' + $json.analysis.score + '\\n\\n建議事項已寫入文件底部。' }}",
                "additionalFields": {}
            },
            "id": "telegram-fail",
            "name": "Telegram (Fail)",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                1580,
                380
            ],
            "credentials": {
                "telegramApi": {
                    "id": "",
                    "name": ""
                }
            }
        }
    ],
    "connections": {
        "Google Drive Trigger": {
            "main": [
                [
                    {
                        "node": "Get Doc Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Doc Content": {
            "main": [
                [
                    {
                        "node": "Cerebras AI Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cerebras AI Analysis": {
            "main": [
                [
                    {
                        "node": "Parse Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Response": {
            "main": [
                [
                    {
                        "node": "Check Score",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Score": {
            "main": [
                [
                    {
                        "node": "Move to Ready",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Append to Doc",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Move to Ready": {
            "main": [
                [
                    {
                        "node": "Telegram (Success)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Append to Doc": {
            "main": [
                [
                    {
                        "node": "Telegram (Fail)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}