workflow_v2.json
{
    "name": "Notion SEO & Grammar Agent (Slack)",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "event": "pageCreatedInDatabase",
                "databaseId": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                }
            },
            "id": "notion-trigger",
            "name": "Notion Trigger",
            "type": "n8n-nodes-base.notionTrigger",
            "typeVersion": 1,
            "position": [
                380,
                240
            ],
            "credentials": {
                "notionApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ 'https://api.notion.com/v1/blocks/' + $json.id + '/children' }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "notionApi"
            },
            "id": "get-content",
            "name": "Get Page Content (HTTP)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                600,
                240
            ],
            "credentials": {
                "notionApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract all text from various Notion block types\nconst blocks = $json.results || [];\nlet fullText = \"\";\nconst supportedTypes = ['paragraph', 'heading_1', 'heading_2', 'heading_3', 'bulleted_list_item', 'numbered_list_item', 'quote', 'callout', 'to-do'];\n\nfor (const block of blocks) {\n  const type = block.type;\n  if (supportedTypes.includes(type) && block[type].rich_text) {\n    const textContent = block[type].rich_text.map(t => t.plain_text).join(\"\");\n    fullText += textContent + \"\\n\";\n  } else if (type === 'toggle' && block.toggle.rich_text) {\n    fullText += block.toggle.rich_text.map(t => t.plain_text).join(\"\") + \"\\n\";\n  }\n}\n\n// Retrieve ID and Title from the PARENT Trigger node (paired by n8n automatically)\n// This node is executed once PER item passing through it.\nconst triggerItem = $node[\"Notion Trigger\"].json;\nconst pageId = triggerItem.id;\n\n// Dynamic Title Retrieval\nconst properties = triggerItem.properties;\nlet title = \"Untitled\";\nif (properties) {\n  for (const key in properties) {\n    if (properties[key].type === \"title\") {\n      title = properties[key].title[0]?.plain_text || \"Untitled\";\n      break;\n    }\n  }\n}\n\nconst finalContent = fullText.trim();\n\nreturn {\n  json: {\n    pageId,\n    fullText: finalContent || \"[WARNING: No readable text blocks found. Could be due to empty page or unsupported layout items.]\",\n    title,\n    hasContent: !!finalContent\n  }\n};"
            },
            "id": "prepare-data",
            "name": "Prepare Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                820,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cerebras.ai/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "gpt-oss-120b"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [\n  {\"role\": \"system\", \"content\": \"You are an SEO and Grammar expert. Analyze the post text. Return ONLY a JSON object: { \\\"score\\\": number, \\\"issues\\\": string[], \\\"suggestions\\\": string[] }.\" }, \n  {\"role\": \"user\", \"content\": $json.fullText}\n] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "cerebras-ai",
            "name": "Cerebras AI Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1040,
                240
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const aiContent = $json.choices[0].message.content;\nlet analysis = {};\ntry {\n  const cleanJson = aiContent.replace(/```json/g, '').replace(/```/g, '').trim();\n  analysis = JSON.parse(cleanJson);\n} catch (e) {\n  analysis = { score: 0, issues: [\"JSON Parse Error\"], suggestions: [\"Check AI Output\"] };\n}\n\n// Carry forward pageId and title from the same run\nconst originalData = $node[\"Prepare Data\"].json;\n\nreturn {\n  json: {\n    ...originalData,\n    analysis\n  }\n};"
            },
            "id": "parse-response",
            "name": "Parse Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1260,
                240
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.analysis.score }}",
                            "operation": "largerEqual",
                            "value2": 80
                        }
                    ]
                }
            },
            "id": "check-score",
            "name": "Check Score",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1480,
                240
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "update",
                "pageId": {
                    "__rl": true,
                    "value": "={{ $json.pageId }}",
                    "mode": "id"
                },
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Status|text",
                            "textValue": "Ready"
                        },
                        {
                            "key": "SEO Score|number",
                            "numberValue": "={{ $json.analysis.score }}"
                        }
                    ]
                }
            },
            "id": "update-success",
            "name": "Update Notion (Pass)",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                1700,
                100
            ],
            "credentials": {
                "notionApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "update",
                "pageId": {
                    "__rl": true,
                    "value": "={{ $json.pageId }}",
                    "mode": "id"
                },
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Status|text",
                            "textValue": "Needs Revision"
                        },
                        {
                            "key": "SEO Score|number",
                            "numberValue": "={{ $json.analysis.score }}"
                        }
                    ]
                }
            },
            "id": "update-fail",
            "name": "Update Notion (Fail)",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                1700,
                380
            ],
            "credentials": {
                "notionApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "resource": "block",
                "blockId": {
                    "__rl": true,
                    "value": "={{ $json.pageId }}",
                    "mode": "id"
                },
                "blockUi": {
                    "blockValues": [
                        {
                            "type": "heading_2",
                            "textContent": "🤖 AI Revision Suggestions"
                        },
                        {
                            "type": "paragraph",
                            "textContent": "={{ $json.analysis.suggestions.join('\\n- ') }}"
                        }
                    ]
                }
            },
            "id": "append-suggestions",
            "name": "Append Suggestions",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                1920,
                380
            ],
            "credentials": {
                "notionApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "channelId": {
                    "__rl": true,
                    "value": "YOUR_CHANNEL_ID",
                    "mode": "list",
                    "cachedResultName": "general"
                },
                "text": "={{ '🎉 新文章已就緒！\\n標題：' + $json.title + '\\nSEO 分數：' + $json.analysis.score }}",
                "otherOptions": {}
            },
            "id": "slack-success",
            "name": "Slack (Success)",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                1920,
                100
            ],
            "credentials": {
                "slackApi": {
                    "id": "",
                    "name": ""
                }
            }
        },
        {
            "parameters": {
                "channelId": {
                    "__rl": true,
                    "value": "YOUR_CHANNEL_ID",
                    "mode": "list",
                    "cachedResultName": "general"
                },
                "text": "={{ '⚠️ 文章需修改\\n標題：' + $json.title + '\\nSEO 分數：' + $json.analysis.score + '\\n\\n主要問題：\\n- ' + $json.analysis.issues.join('\\n- ') }}",
                "otherOptions": {}
            },
            "id": "slack-fail",
            "name": "Slack (Fail)",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                2140,
                380
            ],
            "credentials": {
                "slackApi": {
                    "id": "",
                    "name": ""
                }
            }
        }
    ],
    "connections": {
        "Notion Trigger": {
            "main": [
                [
                    {
                        "node": "Get Page Content (HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Page Content (HTTP)": {
            "main": [
                [
                    {
                        "node": "Prepare Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Data": {
            "main": [
                [
                    {
                        "node": "Cerebras AI Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cerebras AI Analysis": {
            "main": [
                [
                    {
                        "node": "Parse Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Response": {
            "main": [
                [
                    {
                        "node": "Check Score",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Score": {
            "main": [
                [
                    {
                        "node": "Update Notion (Pass)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Notion (Fail)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Notion (Pass)": {
            "main": [
                [
                    {
                        "node": "Slack (Success)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Notion (Fail)": {
            "main": [
                [
                    {
                        "node": "Append Suggestions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Append Suggestions": {
            "main": [
                [
                    {
                        "node": "Slack (Fail)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}